body{
  margin:0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h1{
margin: 0;
font-family: 'Sacramento', cursive;

}
h3{
  font-family: 'Merriweather', serif;
}
.Heading-Container{
  background-color: #aacfcf;
  text-align: center;
  padding-top: 160px;
  position: relative;
  }

.profile img {
  border-radius: 50%;
display: inline-block;
width: 175px;
border: 2px solid;
}

.desig{
  text-decoration: underline;
  font-style: italic;

}
.cloud-1{
  position: absolute;
  right: 30%;
  top: 60px;
}
.cloud-2{
position: absolute;
}
img.code-img {
    display: inline-block;
    width: 115px;
    padding: 30px;
}
img.wordpress-image{
  display: inline-block;
  width: 115px;
  height: 100px;
}
